/* reset */
:root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body,
p,
button {
    margin: 0;
    padding: 0;
}

/* button 초기화 */
button{
    border: 0;
}
/* 이미지 초기화 */
img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: initial;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a{
    text-decoration: none;
    /* 색상 초기화 */
    color:inherit;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 100px 0;
}

.container.pink {
    background: seashell;
}

.container.purple {
    background: #673399;
}

/* pink, purple */
.section{
    width: 1080px;
    /* height: 100vh; */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section .nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.section .nav.pink h1{
    width: 33%;
    font-size: 40px;
    color:salmon;
}

.section .nav.purple h1 {
    width: 26%;
    font-size: 40px;
}
.section .nav .line {
	width: 12%;
	border-top: 1px solid #bd8fe8;
}

.section .nav button {
    padding:15px 20px;
    margin-left: auto;
    background: orangered;
    color:white;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow:inset 0 -0.3rem darkred;
}
.section .nav.purple p {
	width: 60%;
	margin-left: auto;
    color:#bd8fe8;
}

/*  */
.content{
    display: flex;
    justify-content: space-between;
    gap:24px;
}

.content.purple{
    flex-direction: column;
}
.content .card {
	/* flex-grow: 1; */
	display: flex;
	/* min-height:0을 줌으로써 컨테이너안에 유지 */
	/* min-height: 200px; */
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background: white;
}
.content .card.pink{
    flex-direction: column;
    width: 33%;
}

.card.second {
	flex-direction: row-reverse;
}
.card .wrap {
	flex-shrink: 0;
	position: relative;
}
.card.purple .wrap{
    flex-basis: 26%;
}
.card.pink .wrap{
    height:26%;
}

.pink.sold{
    position: relative;
}
.wrap.sold::before{
    position: absolute;
    top:0;
    left:0;
}

.wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.wrap .soldout{
    position:absolute;
    top:0;
    left:0;
    width: 50%;
    height: 50%;
}

.purple .wrap h2 {
	position: absolute;
	background-color: rgb(0 0 0 / .4);
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 30px;
}

.menu{
    margin-top:24px;
    margin-left: 24px;
}
.menu .btn button{
    display: inline-block;
    color:#673399;
    background: #f1e0f8;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    padding:5px;
    margin-bottom: 24px;
}
.menu h2{
    font-size: 24px;
    /* margin-bottom: 24px; */
    font-weight: 700;
}
.menu .h2{
    margin-right: 24px;
    margin-bottom: 32px;
    height: 60px;
}
.menu p{
    color:gray;
    font-weight: 500;
    height:200px;
    margin-right: 24px;
    line-height: 24px;
}
.menu h3{
    font-size: 12px;
    height: 68px;
    margin-top:24px;
    color:gray;
    border-top:3px solid #eee;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.menu .link{
    font-size: 12px;
    height: 68px;
    margin-top:24px;
    color:gray;
    border-top:3px solid #eee;
    display: flex;
    align-items: center;
}
.menu .link .img{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 30px;
    padding-right: 24px;
    margin-left: auto;
    position: relative;
}
.menu .link img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: border-box;
}
.menu .link .img1{
    position: absolute;
    top:0;
    left: 0;
}
.menu .link .img2{
    position: absolute;
    top:0;
    left: 25px;
    z-index: 1;
}
.menu .link .img3{
    position: absolute;
    top:0;
    left: 50px;
    z-index: 2;
}

/* style------ */
.section .purple h1{
    color:white;
}
.purple strong {
	box-shadow: inset 0 -0.5em orangered;
}

.purple .ul h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 32px;
    color:#673399;

}
.purple .ul li::before{
    content:' ';
    background-color: #bd8fe8;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.purple .ul li{
    text-indent: -20px;
    padding-left:20px;
    line-height: 32px;
}